In [ ]:
!apt-get update

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:14 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,688 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,365 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [54.4 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,781 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,130 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [864 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [252 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,208 kB]
Fetched 10.6 MB in 3s (3,036 kB/s)
Reading package lists... Done

In [ ]:
#Setting up Spark environment
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('New_York_Taxi').getOrCreate()

In [ ]:
#Getting the data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-01.csv
!get https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-01.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-02.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-02.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-03.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-03.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-04.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-04.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-05.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-05.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-06.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-06.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-01.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-02.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-02.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-03.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-03.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-04.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-04.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-05.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-05.csv

!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-06.csv
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-06.csv

!wget https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-07.csv
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-07.csv

!wget https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-08.csv
!get https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-08.csv

!wget https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-09.csv
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-09.csv

!wget https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-10.csv
!get https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-10.csv

!wget https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-11.csv
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-11.csv

!wget https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-12.csv
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-12.csv

--2020-11-17 15:04:32--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-01.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.18.147
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.18.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 593610736 (566M) [text/csv]
Saving to: ‘yellow_tripdata_2020-01.csv’

yellow_tripdata_202 100%[===================>] 566.11M  72.4MB/s    in 9.1s

2020-11-17 15:04:41 (62.1 MB/s) - ‘yellow_tripdata_2020-01.csv’ saved [593610736/593610736]

/bin/bash: get: command not found
--2020-11-17 15:04:41--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-02.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.78.182
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.78.182|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 584190585 (557M) [text/csv]
Saving to: ‘yellow_tripdata_2020-02.csv’

yellow_tripdata_202 100%[===================>] 557.13M  49.5MB/s    in 10s

2020-11-17 15:04:52 (54.3 MB/s) - ‘yellow_tripdata_2020-02.csv’ saved [584190585/584190585]

--2020-11-17 15:04:52--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-02.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.0.77
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.0.77|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 36427762 (35M) [text/csv]
Saving to: ‘green_tripdata_2020-02.csv’

green_tripdata_2020 100%[===================>]  34.74M  68.6MB/s    in 0.5s

2020-11-17 15:04:52 (68.6 MB/s) - ‘green_tripdata_2020-02.csv’ saved [36427762/36427762]

--2020-11-17 15:04:53--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-03.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.45.214
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.45.214|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 278288608 (265M) [text/csv]
Saving to: ‘yellow_tripdata_2020-03.csv’

yellow_tripdata_202 100%[===================>] 265.40M  61.6MB/s    in 4.4s

2020-11-17 15:04:57 (60.5 MB/s) - ‘yellow_tripdata_2020-03.csv’ saved [278288608/278288608]

--2020-11-17 15:04:57--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-03.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.142.198
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.142.198|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20189664 (19M) [text/csv]
Saving to: ‘green_tripdata_2020-03.csv’

green_tripdata_2020 100%[===================>]  19.25M  27.9MB/s    in 0.7s

2020-11-17 15:04:58 (27.9 MB/s) - ‘green_tripdata_2020-03.csv’ saved [20189664/20189664]

--2020-11-17 15:04:58--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-04.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.100.126
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.100.126|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21662261 (21M) [text/csv]
Saving to: ‘yellow_tripdata_2020-04.csv’

yellow_tripdata_202 100%[===================>]  20.66M  82.7MB/s    in 0.2s

2020-11-17 15:04:59 (82.7 MB/s) - ‘yellow_tripdata_2020-04.csv’ saved [21662261/21662261]

--2020-11-17 15:04:59--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-04.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.11.150
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.11.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3210216 (3.1M) [text/csv]
Saving to: ‘green_tripdata_2020-04.csv’

green_tripdata_2020 100%[===================>]   3.06M  --.-KB/s    in 0.1s

2020-11-17 15:04:59 (22.2 MB/s) - ‘green_tripdata_2020-04.csv’ saved [3210216/3210216]

--2020-11-17 15:04:59--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-05.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.11.150
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.11.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31641590 (30M) [text/csv]
Saving to: ‘yellow_tripdata_2020-05.csv’

yellow_tripdata_202 100%[===================>]  30.17M  94.4MB/s    in 0.3s

2020-11-17 15:05:00 (94.4 MB/s) - ‘yellow_tripdata_2020-05.csv’ saved [31641590/31641590]

--2020-11-17 15:05:00--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-05.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.11.150
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.11.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5124005 (4.9M) [text/csv]
Saving to: ‘green_tripdata_2020-05.csv’

green_tripdata_2020 100%[===================>]   4.89M  24.6MB/s    in 0.2s

2020-11-17 15:05:00 (24.6 MB/s) - ‘green_tripdata_2020-05.csv’ saved [5124005/5124005]

--2020-11-17 15:05:00--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-06.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.11.150
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.11.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 50277193 (48M) [text/csv]
Saving to: ‘yellow_tripdata_2020-06.csv’

yellow_tripdata_202 100%[===================>]  47.95M   101MB/s    in 0.5s

2020-11-17 15:05:01 (101 MB/s) - ‘yellow_tripdata_2020-06.csv’ saved [50277193/50277193]

--2020-11-17 15:05:01--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2020-06.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.11.150
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.11.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5689051 (5.4M) [text/csv]
Saving to: ‘green_tripdata_2020-06.csv’

green_tripdata_2020 100%[===================>]   5.42M  --.-KB/s    in 0.1s

2020-11-17 15:05:01 (43.8 MB/s) - ‘green_tripdata_2020-06.csv’ saved [5689051/5689051]

--2020-11-17 15:05:01--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.11.150
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.11.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 687088084 (655M) [text/csv]
Saving to: ‘yellow_tripdata_2019-01.csv’

yellow_tripdata_201 100%[===================>] 655.26M  16.7MB/s    in 63s

2020-11-17 15:06:05 (10.4 MB/s) - ‘yellow_tripdata_2019-01.csv’ saved [687088084/687088084]

--2020-11-17 15:06:05--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-01.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.98.254
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.98.254|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 57150546 (55M) [text/csv]
Saving to: ‘green_tripdata_2019-01.csv’

green_tripdata_2019 100%[===================>]  54.50M  45.4MB/s    in 1.2s

2020-11-17 15:06:06 (45.4 MB/s) - ‘green_tripdata_2019-01.csv’ saved [57150546/57150546]

--2020-11-17 15:06:06--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-02.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.34.62
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.34.62|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 649882828 (620M) [text/csv]
Saving to: ‘yellow_tripdata_2019-02.csv’

yellow_tripdata_201 100%[===================>] 619.78M  59.2MB/s    in 9.9s

2020-11-17 15:06:16 (62.5 MB/s) - ‘yellow_tripdata_2019-02.csv’ saved [649882828/649882828]

--2020-11-17 15:06:16--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-02.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.114.93
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.114.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52931812 (50M) [text/csv]
Saving to: ‘green_tripdata_2019-02.csv’

green_tripdata_2019 100%[===================>]  50.48M  76.6MB/s    in 0.7s

2020-11-17 15:06:17 (76.6 MB/s) - ‘green_tripdata_2019-02.csv’ saved [52931812/52931812]

--2020-11-17 15:06:17--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-03.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.29.70
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.29.70|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 726201566 (693M) [text/csv]
Saving to: ‘yellow_tripdata_2019-03.csv’

yellow_tripdata_201 100%[===================>] 692.56M  63.9MB/s    in 12s

2020-11-17 15:06:30 (56.0 MB/s) - ‘yellow_tripdata_2019-03.csv’ saved [726201566/726201566]

--2020-11-17 15:06:30--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-03.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.88.238
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.88.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55279989 (53M) [text/csv]
Saving to: ‘green_tripdata_2019-03.csv’

green_tripdata_2019 100%[===================>]  52.72M  65.5MB/s    in 0.8s

2020-11-17 15:06:31 (65.5 MB/s) - ‘green_tripdata_2019-03.csv’ saved [55279989/55279989]

--2020-11-17 15:06:31--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-04.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.88.238
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.88.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689207122 (657M) [text/csv]
Saving to: ‘yellow_tripdata_2019-04.csv’

yellow_tripdata_201 100%[===================>] 657.28M  35.1MB/s    in 19s

2020-11-17 15:06:50 (35.0 MB/s) - ‘yellow_tripdata_2019-04.csv’ saved [689207122/689207122]

--2020-11-17 15:06:50--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-04.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.241.78
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.241.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 47348207 (45M) [text/csv]
Saving to: ‘green_tripdata_2019-04.csv’

green_tripdata_2019 100%[===================>]  45.15M  71.1MB/s    in 0.6s

2020-11-17 15:06:51 (71.1 MB/s) - ‘green_tripdata_2019-04.csv’ saved [47348207/47348207]

--2020-11-17 15:06:51--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-05.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.241.78
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.241.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 701538890 (669M) [text/csv]
Saving to: ‘yellow_tripdata_2019-05.csv’

yellow_tripdata_201 100%[===================>] 669.04M  64.1MB/s    in 12s

2020-11-17 15:07:03 (55.3 MB/s) - ‘yellow_tripdata_2019-05.csv’ saved [701538890/701538890]

--2020-11-17 15:07:03--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-05.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.29.166
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.29.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46448105 (44M) [text/csv]
Saving to: ‘green_tripdata_2019-05.csv’

green_tripdata_2019 100%[===================>]  44.30M  48.6MB/s    in 0.9s

2020-11-17 15:07:05 (48.6 MB/s) - ‘green_tripdata_2019-05.csv’ saved [46448105/46448105]

--2020-11-17 15:07:05--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-06.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.29.166
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.29.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 643492154 (614M) [text/csv]
Saving to: ‘yellow_tripdata_2019-06.csv’

yellow_tripdata_201 100%[===================>] 613.68M  55.3MB/s    in 11s

2020-11-17 15:07:16 (55.7 MB/s) - ‘yellow_tripdata_2019-06.csv’ saved [643492154/643492154]

--2020-11-17 15:07:16--  https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-06.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.64.142
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.64.142|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 43354841 (41M) [text/csv]
Saving to: ‘green_tripdata_2019-06.csv’

green_tripdata_2019 100%[===================>]  41.35M  57.2MB/s    in 0.7s

2020-11-17 15:07:17 (57.2 MB/s) - ‘green_tripdata_2019-06.csv’ saved [43354841/43354841]

--2020-11-17 15:07:17--  https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-07.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.152.108
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.152.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 584387609 (557M) [text/csv]
Saving to: ‘yellow_tripdata_2019-07.csv’

yellow_tripdata_201 100%[===================>] 557.32M  65.8MB/s    in 8.1s

2020-11-17 15:07:25 (69.2 MB/s) - ‘yellow_tripdata_2019-07.csv’ saved [584387609/584387609]

--2020-11-17 15:07:25--  https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-07.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.76.204
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.76.204|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 43143777 (41M) [text/csv]
Saving to: ‘green_tripdata_2019-07.csv’

green_tripdata_2019 100%[===================>]  41.14M  41.3MB/s    in 1.0s

2020-11-17 15:07:26 (41.3 MB/s) - ‘green_tripdata_2019-07.csv’ saved [43143777/43143777]

--2020-11-17 15:07:27--  https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-08.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.76.204
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.76.204|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 562386202 (536M) [text/csv]
Saving to: ‘yellow_tripdata_2019-08.csv’

yellow_tripdata_201 100%[===================>] 536.33M  76.4MB/s    in 8.6s

2020-11-17 15:07:35 (62.3 MB/s) - ‘yellow_tripdata_2019-08.csv’ saved [562386202/562386202]

/bin/bash: get: command not found
--2020-11-17 15:07:36--  https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-09.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.161.243
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.161.243|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 608973500 (581M) [text/csv]
Saving to: ‘yellow_tripdata_2019-09.csv’

yellow_tripdata_201 100%[===================>] 580.76M  75.7MB/s    in 7.2s

2020-11-17 15:07:43 (80.8 MB/s) - ‘yellow_tripdata_2019-09.csv’ saved [608973500/608973500]

--2020-11-17 15:07:43--  https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-09.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.236.131
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.236.131|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41124323 (39M) [text/csv]
Saving to: ‘green_tripdata_2019-09.csv’

green_tripdata_2019 100%[===================>]  39.22M  57.6MB/s    in 0.7s

2020-11-17 15:07:44 (57.6 MB/s) - ‘green_tripdata_2019-09.csv’ saved [41124323/41124323]

--2020-11-17 15:07:44--  https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-10.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.10.108
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.10.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 669168416 (638M) [text/csv]
Saving to: ‘yellow_tripdata_2019-10.csv’

yellow_tripdata_201 100%[===================>] 638.17M  62.8MB/s    in 11s

2020-11-17 15:07:56 (55.6 MB/s) - ‘yellow_tripdata_2019-10.csv’ saved [669168416/669168416]

/bin/bash: get: command not found
--2020-11-17 15:07:56--  https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-11.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.24.92
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.24.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 637807959 (608M) [text/csv]
Saving to: ‘yellow_tripdata_2019-11.csv’

yellow_tripdata_201 100%[===================>] 608.26M  58.2MB/s    in 10s

2020-11-17 15:08:07 (58.8 MB/s) - ‘yellow_tripdata_2019-11.csv’ saved [637807959/637807959]

--2020-11-17 15:08:07--  https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-11.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.237.75
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.237.75|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41115708 (39M) [text/csv]
Saving to: ‘green_tripdata_2019-11.csv’

green_tripdata_2019 100%[===================>]  39.21M  31.2MB/s    in 1.3s

2020-11-17 15:08:08 (31.2 MB/s) - ‘green_tripdata_2019-11.csv’ saved [41115708/41115708]

--2020-11-17 15:08:08--  https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-12.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.32.212
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.32.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 639108129 (610M) [text/csv]
Saving to: ‘yellow_tripdata_2019-12.csv’

yellow_tripdata_201 100%[===================>] 609.50M  71.3MB/s    in 9.2s

2020-11-17 15:08:18 (66.2 MB/s) - ‘yellow_tripdata_2019-12.csv’ saved [639108129/639108129]

--2020-11-17 15:08:18--  https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-12.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.90.124
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.90.124|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41147811 (39M) [text/csv]
Saving to: ‘green_tripdata_2019-12.csv’

green_tripdata_2019 100%[===================>]  39.24M  66.3MB/s    in 0.6s

2020-11-17 15:08:19 (66.3 MB/s) - ‘green_tripdata_2019-12.csv’ saved [41147811/41147811]

In [ ]:
!ls

green_tripdata_2019-01.csv     yellow_tripdata_2019-01.csv
green_tripdata_2019-02.csv     yellow_tripdata_2019-02.csv
green_tripdata_2019-03.csv     yellow_tripdata_2019-03.csv
green_tripdata_2019-04.csv     yellow_tripdata_2019-04.csv
green_tripdata_2019-05.csv     yellow_tripdata_2019-05.csv
green_tripdata_2019-06.csv     yellow_tripdata_2019-06.csv
green_tripdata_2019-07.csv     yellow_tripdata_2019-07.csv
green_tripdata_2019-09.csv     yellow_tripdata_2019-08.csv
green_tripdata_2019-11.csv     yellow_tripdata_2019-09.csv
green_tripdata_2019-12.csv     yellow_tripdata_2019-10.csv
green_tripdata_2020-02.csv     yellow_tripdata_2019-11.csv
green_tripdata_2020-03.csv     yellow_tripdata_2019-12.csv
green_tripdata_2020-04.csv     yellow_tripdata_2020-01.csv
green_tripdata_2020-05.csv     yellow_tripdata_2020-02.csv
green_tripdata_2020-06.csv     yellow_tripdata_2020-03.csv
sample_data		       yellow_tripdata_2020-04.csv
spark-2.4.7-bin-hadoop2.7      yellow_tripdata_2020-05.csv
spark-2.4.7-bin-hadoop2.7.tgz  yellow_tripdata_2020-06.csv

In [ ]:
yellow_jan_2020 = spark.read.csv('yellow_tripdata_2020-01.csv', header=True, sep=',', inferSchema=False)
yellow_jan_2020.show(3)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2020-01-01 00:28:15|  2020-01-01 00:33:03|              1|         1.20|         1|                 N|         238|         239|           1|          6|    3|    0.5|      1.47|           0|                  0.3|       11.27|                 2.5|
|       1| 2020-01-01 00:35:39|  2020-01-01 00:43:04|              1|         1.20|         1|                 N|         239|         238|           1|          7|    3|    0.5|       1.5|           0|                  0.3|        12.3|                 2.5|
|       1| 2020-01-01 00:47:41|  2020-01-01 00:53:52|              1|          .60|         1|                 N|         238|         238|           1|          6|    3|    0.5|         1|           0|                  0.3|        10.8|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 3 rows

In [ ]:
green_jan_2020 = spark.read.csv('green_tripdata_2019-01.csv', header=True, sep=',', inferSchema=False)
green_jan_2020.show(3)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2018-12-21 15:17:29|  2018-12-21 15:18:57|                 N|         1|         264|         264|              5|          .00|          3|  0.5|    0.5|         0|           0|     null|                  0.3|         4.3|           2|        1|                null|
|       2| 2019-01-01 00:10:16|  2019-01-01 00:16:32|                 N|         1|          97|          49|              2|          .86|          6|  0.5|    0.5|         0|           0|     null|                  0.3|         7.3|           2|        1|                null|
|       2| 2019-01-01 00:27:11|  2019-01-01 00:31:38|                 N|         1|          49|         189|              2|          .66|        4.5|  0.5|    0.5|         0|           0|     null|                  0.3|         5.8|           1|        1|                null|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 3 rows

#Combining and Cleaning the Data

In [ ]:
#Combining all of the green taxi data into one dataframe
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType

tmp = str(spark.read.csv("yellow_tripdata_2020-01.csv",header=True, inferSchema=False).columns)
tmp = tmp.replace("'","")
tmp = tmp.replace("[","")
tmp =tmp.replace("]","")
mySchema = StructType([StructField(c, StringType()) for c in tmp.split(",")])
yellow_df= spark.createDataFrame(data=[], schema=mySchema)
for month in ('01','02','03','04','05','06','07','08','09','10','11','12'):
  tmp_df = spark.read.csv("yellow_tripdata_2019-"+month+".csv",header=True, inferSchema=False)
  yellow_2019_df = yellow_df.union(tmp_df)

In [ ]:
yellow_2019_df.count()

6896317

In [ ]:
tmp1 = str(spark.read.csv("yellow_tripdata_2020-01.csv",header=True, inferSchema=False).columns)
tmp1 = tmp1.replace("'","")
tmp1 = tmp1.replace("[","")
tmp1 =tmp1.replace("]","")
mySchema = StructType([StructField(c, StringType()) for c in tmp1.split(",")])
yellow_df= spark.createDataFrame(data=[], schema=mySchema)
for month in ('01','02','03','04','05','06'):
  tmp_df = spark.read.csv("yellow_tripdata_2020-"+month+".csv",header=True, inferSchema=False)
  yellow_2020_df = yellow_df.union(tmp_df)

In [ ]:
yellow_2020_df.count()

549760

In [ ]:
#Combining the yellow taxi data
yellow_df_total = yellow_2020_df.union(yellow_2019_df)
yellow_df_total.count()

7446077

In [ ]:
tmp2 = str(spark.read.csv("green_tripdata_2019-01.csv",header=True, inferSchema=False).columns)
tmp2 = tmp2.replace("'","")
tmp2 = tmp2.replace("[","")
tmp2 =tmp2.replace("]","")
mySchema = StructType([StructField(c, StringType()) for c in tmp2.split(",")])
green_df= spark.createDataFrame(data=[], schema=mySchema)
for month in ('01','02','03','04','05','06','07','09','11','12'):
  tmp_df1 = spark.read.csv("green_tripdata_2019-"+month+".csv",header=True, inferSchema=False)
  green_2019_df = green_df.union(tmp_df1)

In [ ]:
green_2019_df.count()

450627

In [ ]:
tmp3 = str(spark.read.csv("green_tripdata_2020-02.csv",header=True, inferSchema=False).columns)
tmp3 = tmp3.replace("'","")
tmp3 = tmp3.replace("[","")
tmp3 =tmp3.replace("]","")
mySchema = StructType([StructField(c, StringType()) for c in tmp3.split(",")])
green_df= spark.createDataFrame(data=[], schema=mySchema)
for month in ('02','03','04','05','06'):
  tmp_df = spark.read.csv("green_tripdata_2020-"+month+".csv",header=True, inferSchema=False)
  green_2020_df = green_df.union(tmp_df)

In [ ]:
green_2020_df.count()

63109

In [ ]:
#Combining the green taxi data
green_df_total = green_2020_df.union(green_2019_df)
green_df_total.count()

513736

In [ ]:
#Dropping the two columns that the green taxi has that the yellow taxi data doesn't
green_df_total = green_df_total.drop(' ehail_fee', ' trip_type')

len(green_df_total.columns)

18

In [ ]:
#Dropping duplicates in both dataframes
green_df_total = green_df_total.dropDuplicates()
yellow_df_total = yellow_df_total.dropDuplicates()

In [ ]:
#Renaming a few columns so they are equivalent

yellow_df_total = yellow_df_total.withColumnRenamed(" tpep_pickup_datetime","pickup_datetime") \
    .withColumnRenamed(" tpep_dropoff_datetime","dropoff_datetime")

green_df_total = green_df_total.withColumnRenamed(" lpep_pickup_datetime","pickup_datetime") \
    .withColumnRenamed(" lpep_dropoff_datetime","dropoff_datetime")

In [ ]:
#Removing the space in front of the variable names
from pyspark.sql import functions as F

yellow_df_total = yellow_df_total.select([F.col(col).alias(col.replace(' ', '')) for col in yellow_df_total.columns])
green_df_total = green_df_total.select([F.col(col).alias(col.replace(' ', '')) for col in green_df_total.columns])
print(yellow_df_total.columns)
print(green_df_total.columns)

['VendorID', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge']
['VendorID', 'pickup_datetime', 'dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'payment_type', 'congestion_surcharge']

In [ ]:
#Combining the green and yellow taxi data
df_master = yellow_df_total.union(green_df_total)
df_master.show(2)

+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2|2020-06-01 17:42:43|2020-06-01 17:46:27|              1|         1.22|         1|                 N|         142|         238|           1|        5.5|    1|    0.5|      1.96|           0|                  0.3|       11.76|                 2.5|
|       2|2020-06-02 19:02:31|2020-06-02 19:16:26|              1|         2.90|         1|                 N|         161|          75|           2|         12|    1|    0.5|         0|           0|                  0.3|        16.3|                 2.5|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 2 rows

In [ ]:
#More Cleaning
df_master.describe().show()

+-------+------------------+-------------------+-------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+---------------------+------------------+--------------------+
|summary|          VendorID|    pickup_datetime|   dropoff_datetime|   passenger_count|    trip_distance|       RatecodeID|store_and_fwd_flag|     PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|           mta_tax|        tip_amount|       tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|
+-------+------------------+-------------------+-------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+---------------------+------------------+--------------------+
|  count|           7742673|            7959811|            7959811|           7742673|          7844408|          7858076|           7858076|          7844408|           7959811|           7858076|           7959811|           7959811|           7959811|           7959811|            7959809|              7959811|           7844408|             7844406|
|   mean|1.6705755234658626|               null|               null|1.5376457874164613|2.957944469487054| 8.02413847868104|128.24133843323892|154.9869682963966|151.07142533535037|2.2698479882352864| 12.76623391686062|1.0583430197023522|0.5268360479915927|2.0885195590699666|0.37929561375155046|   1.5216828075439466| 18.65813894943056|  2.1601914472555346|
| stddev|0.4700042758582786|               null|               null|1.1653237542980481|90.28213570278774|31.91945104861259| 76.10745070841881|73.77736139994704|211.36781356305255| 5.037799650443601|141.81210625477584|1.2313355802343133|0.5917074720295276|2.8312477979340143|  1.662235415057332|    6.012297930836868|143.12154348792453|  0.8771064802823213|
|    min|                 1|2008-12-31 18:13:42|2008-12-31 18:27:42|                 0|             -.01|                1|                 1|                0|              -.01|             -0.01|             -0.01|              -0.5|             -0.01|             -0.01|               -0.3|                 -0.3|             -0.31|               -0.75|
|    max|                 2|2090-12-31 06:41:26|2090-12-31 07:18:49|                 Y|            99.01|               99|                 Y|               99|                99|             99.98|             99.99|             90.06|                96|             99.99|                 97|                99.99|             99.99|                   3|
+-------+------------------+-------------------+-------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+---------------------+------------------+--------------------+

In [ ]:
#Dropping rows with missing values
df_master = df_master.dropna()

In [ ]:
#Getting rid of negative trip distances
df_master = df_master.filter(df_master.trip_distance>0)
df_master.agg({'trip_distance': 'min'}).show()

+------------------+
|min(trip_distance)|
+------------------+
|                 1|
+------------------+

In [ ]:
#The minimum passenger count is zero. Going to filter the dataframe to not include those
df_master = df_master.filter(df_master.passenger_count>0)
df_master.agg({'passenger_count': 'min'}).show()

+--------------------+
|min(passenger_count)|
+--------------------+
|                   1|
+--------------------+

In [ ]:
#The taxi fare initial charge is $2.50, so we are removing fare amount smaller than this amount.
df_master.describe('fare_amount').show()

+-------+------------------+
|summary|       fare_amount|
+-------+------------------+
|  count|           5321187|
|   mean|15.588612275794851|
| stddev|12.462097796201611|
|    min|              -0.3|
|    max|              99.5|
+-------+------------------+

In [ ]:
df_master = df_master.where(df_master['fare_amount']>=1.5)

In [ ]:
df_master.show(3)

+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2|2020-06-01 17:42:43|2020-06-01 17:46:27|              1|         1.22|         1|                 N|         142|         238|           1|        5.5|    1|    0.5|      1.96|           0|                  0.3|       11.76|                 2.5|
|       2|2020-06-02 19:02:31|2020-06-02 19:16:26|              1|         2.90|         1|                 N|         161|          75|           2|         12|    1|    0.5|         0|           0|                  0.3|        16.3|                 2.5|
|       2|2020-06-03 09:38:13|2020-06-03 09:47:59|              1|         2.14|         1|                 N|          75|         140|           1|          9|    0|    0.5|         0|           0|                  0.3|        12.3|                 2.5|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 3 rows

#Creating New Variables

In [ ]:
#Create datetime features based on pickup_datetime
import pyspark.sql.functions as f
df_master = df_master.withColumn('pickup_hour',f.hour(df_master['pickup_datetime']))
df_master = df_master.withColumn('pickup_dayofweek',f.dayofweek(df_master['pickup_datetime']))
df_master = df_master.withColumn('pickup_month',f.month(df_master['pickup_datetime']))
df_master = df_master.withColumn('pickup_year',f.year(df_master['pickup_datetime']))

In [ ]:
#Creating a rush hour and overnight variable
df_master = df_master.withColumn('rush_hour', f.when((f.col('pickup_hour')==16) |(f.col('pickup_hour')==17) |(f.col('pickup_hour')==18) | (f.col('pickup_hour')==19) |(f.col('pickup_hour')==20)  ,1).otherwise(0))
df_master = df_master.withColumn('overnight', f.when((f.col('pickup_hour').between(20,24)) | (f.col('pickup_hour').between(0,6)) ,1).otherwise(0))

In [ ]:
#Create datetime features based on dropoff_datetime
df_master = df_master.withColumn('dropoff_hour',f.hour(df_master['dropoff_datetime']))
df_master = df_master.withColumn('dropoff_dayofweek',f.dayofweek(df_master['dropoff_datetime']))
df_master = df_master.withColumn('dropoff_month',f.month(df_master['dropoff_datetime']))
df_master = df_master.withColumn('dropoff_year',f.year(df_master['dropoff_datetime']))

In [ ]:
#Create columns for the different drop off locations
df_master = df_master.withColumn('Standard_Rate', f.when(f.col('RatecodeID')==1,1).otherwise(0))
df_master = df_master.withColumn('JFK', f.when(f.col("RatecodeID")==2,1).otherwise(0))
df_master = df_master.withColumn('Newark', f.when(f.col("RatecodeID")==3,1).otherwise(0))
df_master = df_master.withColumn('Nassau_or_Westchester', f.when(f.col("RatecodeID")==4,1).otherwise(0))
df_master = df_master.withColumn('Negotiated_Fare', f.when(f.col("RatecodeID")==5,1).otherwise(0))
df_master = df_master.withColumn('Group_ride', f.when(f.col("RatecodeID")==6,1).otherwise(0))

In [ ]:
#Create a column for holiday
df_master = df_master.withColumn('holiday', f.when((f.col('pickup_datetime')=='2019-01-01') | (f.col('pickup_datetime')=='2019-04-21') | (f.col('pickup_datetime')=='2019-07-04') | (f.col('pickup_datetime')=='2019-11-28') | (f.col('pickup_datetime')=='2029-12-25') | (f.col('pickup_datetime')=='2019-12-31') | (f.col('pickup_datetime')=='2020-01-01'),1).otherwise(0))

In [ ]:
#Dropping the datetime columns now
df_master = df_master.drop('pickup_datetime')
df_master = df_master.drop('dropoff_datetime')

In [ ]:
df_master.show(3)

+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------------+------------+-----------+---------+---------+------------+-----------------+-------------+------------+-------------+---+------+---------------------+---------------+----------+-------+
|VendorID|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|pickup_hour|pickup_dayofweek|pickup_month|pickup_year|rush_hour|overnight|dropoff_hour|dropoff_dayofweek|dropoff_month|dropoff_year|Standard_Rate|JFK|Newark|Nassau_or_Westchester|Negotiated_Fare|Group_ride|holiday|
+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------------+------------+-----------+---------+---------+------------+-----------------+-------------+------------+-------------+---+------+---------------------+---------------+----------+-------+
|       2|              1|         1.22|         1|                 N|         142|         238|           1|        5.5|    1|    0.5|      1.96|           0|                  0.3|       11.76|                 2.5|         17|               2|           6|       2020|        1|        0|          17|                2|            6|        2020|            1|  0|     0|                    0|              0|         0|      0|
|       2|              1|         2.90|         1|                 N|         161|          75|           2|         12|    1|    0.5|         0|           0|                  0.3|        16.3|                 2.5|         19|               3|           6|       2020|        1|        0|          19|                3|            6|        2020|            1|  0|     0|                    0|              0|         0|      0|
|       2|              1|         2.14|         1|                 N|          75|         140|           1|          9|    0|    0.5|         0|           0|                  0.3|        12.3|                 2.5|          9|               4|           6|       2020|        0|        0|           9|                4|            6|        2020|            1|  0|     0|                    0|              0|         0|      0|
+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------------+------------+-----------+---------+---------+------------+-----------------+-------------+------------+-------------+---+------+---------------------+---------------+----------+-------+
only showing top 3 rows

In [ ]:
#Changing data types
from pyspark.sql.types import DoubleType
df_master = df_master.withColumn("trip_distance_Int", df_master['trip_distance'].cast('int')) 
df_master = df_master.withColumn("fare_amount", df_master["fare_amount"].cast(DoubleType()))
df_master = df_master.withColumn("congestion_surcharge", df_master["congestion_surcharge"].cast(DoubleType()))



---



---

#Regression

In [ ]:
df_sample = df_master.sample(0.2)

In [ ]:
input_df = df_sample[['trip_distance_Int','congestion_surcharge','pickup_hour','pickup_dayofweek','pickup_month','pickup_year','rush_hour','overnight','Standard_Rate','JFK','Newark','Nassau_or_Westchester','Negotiated_Fare','Group_ride','holiday','fare_amount']]

In [ ]:
input_df.columns[:-1]

['trip_distance_Int',
 'congestion_surcharge',
 'pickup_hour',
 'pickup_dayofweek',
 'pickup_month',
 'pickup_year',
 'rush_hour',
 'overnight',
 'Standard_Rate',
 'JFK',
 'Newark',
 'Nassau_or_Westchester',
 'Negotiated_Fare',
 'Group_ride',
 'holiday']

In [ ]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=input_df.columns[:-1], outputCol='features')   #this is a transformer
df_final = assembler.transform(input_df).select(['features', 'fare_amount'])     #vectorized dataframe
df_final.show(3)

+--------------------+-----------+
|            features|fare_amount|
+--------------------+-----------+
|(15,[0,1,2,3,4,5,...|       11.0|
|(15,[0,1,2,3,4,5,...|       15.0|
|(15,[0,2,3,4,5,6,...|       13.5|
+--------------------+-----------+
only showing top 3 rows

In [ ]:
df_train, df_test = df_final.randomSplit([0.7, 0.3])

from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol='features', labelCol='fare_amount')   #this is an estimator
lr_model = lr.fit(df_train)     #transformer

In [ ]:
lr_model.coefficients    #shows the weights/coefficients of the features

DenseVector([0.0445, -3.0938, 0.0252, 0.0692, 0.1524, -0.7459, 0.1056, -0.1833, -0.5957, 36.5095, 47.6086, 56.1702, 59.2599, 0.0, 0.0])

In [ ]:
lr_model.intercept   #the intercept of the regression equation (b)

1525.3612531958636

In [ ]:
#Summary statistics of the linear regression
training_sum = lr_model.summary
print('RMSE:', training_sum.rootMeanSquaredError)
print('MSE:', training_sum.meanSquaredError)
print('MAE:', training_sum.meanAbsoluteError)
print('R^2:', training_sum.r2)
print('Adjusted R^2:', training_sum.r2adj)

RMSE: 8.841211643013253
MSE: 78.1670233165531
MAE: 5.846360914198119
R^2: 0.48656367397302436
Adjusted R^2: 0.48655333541297685

In [ ]:
lr_predictions = lr_model.transform(df_test)

from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="fare_amount",metricName="r2")
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(lr_predictions))

R Squared (R2) on test data = 0.495344

#Decision Tree Regression

In [ ]:
from pyspark.ml.regression import DecisionTreeRegressor
dt = DecisionTreeRegressor(featuresCol ='features', labelCol = 'fare_amount')
dt_model = dt.fit(df_train)
dt_predictions = dt_model.transform(df_test)
dt_evaluator = RegressionEvaluator(
    labelCol="fare_amount", predictionCol="prediction", metricName="r2")

In [ ]:
r2 = dt_evaluator.evaluate(dt_predictions)
print("R^2 on test data = %g" % r2)

Root Mean Squared Error (RMSE) on test data = 0.908817

In [ ]:
dt_model.featureImportances

NameError: ignored

In [ ]:
input_df.take(1)